body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* -------------- HEADER ----------------- */

.header {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-nav {
    display: flex;
    align-items: center;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo span {
    color: #2e2f42;
}

.header-list {
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
}

.header-item {}

.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-link.current {
    position: relative;

}

.header-item-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header-item-link:hover,
.header-item-link:focus,
.contacts-item-link:hover,
.contacts-item-link:focus,
.header-item-link.current {
    color: #404bbf;

}

.header-contacts {
    font-style: normal
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-item {}

.contacts-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* -------------- HERO-SECTION ----------------- */

.hero-section {
    background-size: cover;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;

}



.hero-title {
    max-width: 496px;
    margin: 0 auto;
}

.btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

/* -------------- ABOUT-SECTION ----------------- */


.about-section {}

.about {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.about-list {
    display: flex;
    gap: 24px;

}

.about-item {
    width: calc((100% - 3*24px) / 4);
}

.about-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.item-subtitle {
    margin-bottom: 8px;
}

.item-text {}



/* -------------- TEAM-SECTION ----------------- */

.team-section {
    background-color: #f4f4fd;

}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 3*24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-img {
    display: block;
}

.team-info {
    padding: 32px 0;

}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}



.team-link-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-link-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.team-link:hover,
.team-link:focus {
    background-color: #404BBF;
}

.team-link-svg {
    fill: #f4f4fd
}

/* -------------- PORTFOLIO-SECTION ----------------- */


.portf-section {}

.portf-title {
    margin-bottom: 72px;
}

.portf-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portf-item {
    position: relative;

    width: calc((100% - 2*24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-item:hover,
.portf-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.portf-img {
    display: block;
}

.portf-discr {
    position: relative;
    overflow: hidden;
}

.discr-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-item:hover .discr-text,
.portf-item:focus .discr-text {
    transform: translateY(0);
}

.portf-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



.portf-subtitle {
    margin-bottom: 8px;
}

.portf-text {}

/* -------------- FOOTER ----------------- */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-logo .active {

    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}





.footer-container-link {}

.footer-sicial-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-link-list {
    display: flex;
    gap: 16px;
}

.footer-link-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-link-svg {
    fill: #f4f4fd;
}